.Current h3 {
  margin-bottom: 10px;
  margin-top: 35px;
  margin-right: 50px;
  text-align: right;
  font-weight: 600;
  font-size: 35px;
  color: #153260;
}

.Current img {
  max-width: 60px;
}

.Current a {
  text-decoration: none;
  color: #153260;
}

.Current ul {
  list-style: none;
  text-align: right;
  margin-right: 55px;
}