@media (min-width:575px){
.Daily-forecast{
    max-width: 720px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 8px;
}
}
@media (max-width:575px){
.Daily-forecast{
    max-width: 720px;
    padding: 8px;
    border-bottom: 2px dashed #153260;
}
}

.Forecast-day {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    color: #153260;   
}


.Forecast-temps{
    margin-top: 5px;
    margin-bottom: 10px;
}

.Forecast-temp-max{
    font-weight: bold;
}

.Forecast-temp-min{
    margin-left: 5px;
    opacity: 0.7;
}