.Search form {
  display: block;
  margin: 0 auto;
  margin-left: 110px;
  margin-bottom: 20px;

}

#Search-form{
  border-radius: 6px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 35px;
}



#Search-Btn, #Location-Btn {
  background-color: #153260;
  color: white;
  padding: 3px;
  border: 1px solid black;
  border-radius: 6px;
}

#Location-Btn{
  margin-left: 20px;
}


