.Search form {
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 250px;
}

#Search-Btn {
  background-color: #153260;
  color: white;
  padding: 5px;
  border-radius: 6px;
  margin-top: 8px;
}

#Location-Btn {
  background-color: #153260;
  color: white;
  padding: 5px;
  border-radius: 8px;
  margin-top: 8px;
}