.Weather form {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 25px;
  text-align: center;
  max-width: 500px;
}

#Search-form{
  border-radius: 6px;
  
  padding: 5px;
  padding-left: 10px;
}

#Search-Btn, #Location-Btn {
  background-color: #153260;
  color: white;
  padding: 5px;
  border: 1px solid black;
  border-radius: 6px;
  margin-right: 14px;
}

.Loader{
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
